.about-team {
    height: 55vmin;
    width: 90vmin;
    border-top: var(--baseColor) 1px solid;
}
.about-team__member {
    font-size: 4vmin;
    margin-top: 2vmin;
}

.about-team__info {
    font-size: 3vmin;
}
