.avatar-and-change-button {
    width: 20vmin;
    height: 20vmin;
    position: relative;
    margin: auto;
}

.avatar-and-change-button__avatar {
    box-sizing: border-box;
    width: 20vmin;
    height: 20vmin;
    border: 0.5vh solid var(--secondColor);
    border-radius: 5px;
    z-index: -1;
}
