.background-animation {
  opacity: 0.15;
  position: absolute;
  top: 0;
  pointer-events: none;
}

@keyframes line {
  0% {
    height: 0;
    top: 0;
  }
  50% {
    height: 100vh;
    top: 0;
  }

  100% {
    height: 0;
    top: 100vh;
  }
}