.background-animation {
  opacity: 0.1;
  margin-left: -3vmin;
  position: absolute;
  background-color: var(--baseColor);
  width: 15vmin;
  animation: line 3s;
  top: 0;
}

@keyframes line {
  0% {
    height: 0;
    top: 0%;
  }

  50% {
    height: 200vh;
    top: 0%;
  }

  100% {
    height: 200vmin;
    top: 100%;
  }
}