.colors {
    --secondColor: #e7e7e7;
    --greyColor: #393939;
    --darkGreyColor: #201e20;
    --secondGradientColor: #0e0e0e;
    --firstGradientColor: #2e2e02;
    --logoColor: #ffa000;
    --baseColor: #ffc107;
    --inputColor: #b1b1b1;
    --wrorngInputColor: #dd4000;
    --rightInputColor: #9cdd34;
}