.colors {
    --secondColor: #FFFFFF;
    --greyColor: #393939;
    --secondGradientColor: #0e0e0e;
    --firstGradientColor: #401354;
    --logoColor: #8828b1;
    --baseColor: #6d208e;
    --inputColor: #b1b1b1;
}