.error-form {
    width: 20vh;
    margin: auto;
}

.error-form_image {
    opacity: 0;
    height: 0;
    width: 0;
}

.error-form_input {
    color: #e11525;
    margin-top: 2vh;
    font-size: 2vh;
    margin-bottom: 1vh;
    opacity: 0.8;
}

.error-form__block {
    display: inline-block;
    position: fixed;
}

.error-form__message {
    z-index: 77;
    max-width: 15vh;
    background: rgba(133, 133, 133, 0.6);
    padding: 1vh;
    position: fixed;
    display: inline-block;
    margin: 1vh auto auto 2vh;
    font-size: 2vh;
    color: #500800;
}

.error-form__message:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
    border-right: 1vh solid rgba(133, 133, 133, 0.6);
    position: absolute;
    left: -1vh;
}

.error-form__server-error {
    display: none;
    font-size: 3vh;
    margin-top: 2vh;
    color: #c30f00;
}