.file-upload-button__input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 100px;
}

.file-upload-button {
    height: 5vmax;
    opacity: 0;
    font-size: 2vh;
    transition: all 0.3s linear;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
}

.avatar-and-change-button:hover .file-upload-button {
    opacity: 0.8;
}

.file-upload-button__trigger {
    background-color: var(--greyColor);
    width: 20vmin;
    border: transparent;
    height: 9vmin;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
}
