@mixin fontFaceTtf($family,$src) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.ttf') format('truetype');
    }
}

@include fontFaceTtf('Orbitron', '../fonts/Orbitron-Regular')
@include fontFaceTtf('Orbitron-bold', '../fonts/Orbitron-Medium')
@include fontFaceTtf('Orbitron-black', '../fonts/Orbitron-Bold')

@include fontFaceTtf('u2800', '../fonts/u2800')
@include fontFaceTtf('u2400', '../fonts/u2400')
@include fontFaceTtf('u2000', '../fonts/u2000')
@include fontFaceTtf('u1f400', '../fonts/u1f400')
@include fontFaceTtf('u1f000', '../fonts/u1f000')
@include fontFaceTtf('u1f800', '../fonts/u1f800')


.u2000 {
    margin-right: 10px;
    margin-top: -2px;
    font-size: 4vmin;
    font-family: 'u2000', sans-serif;
}

.u1f400 {
    font-family: 'u1f400', sans-serif;
}

.u1f000 {
    font-family: 'u1f000', sans-serif;
}

.u1f800 {
    font-family: 'u1f800', sans-serif;
}
.u2800 {
    font-family: 'u2800', sans-serif;
}
.u2400 {
    font-family: 'u2400', sans-serif;
}