.game-blendocu {
    margin: 1vh auto;
    width: 100%;
    height: 95%;
}

.game-blendocu__unfixed {
    width: 100%;
    height: 70%;
}

.game-blendocu__fixed {
    width: 100%;
    height: 25%;
}

.game-blendocu__cell {
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    transition: all 0.3s linear;
}

.game-blendocu__cell-fixed {
    position: absolute;
    color: #242222;
    font-size: 3vh;
    bottom: 1px;
    right: 3px;
    opacity: 0.6;
}

.game-blendocu__empty-cell {
    border-radius: 10px;
    opacity: 0.4;
    border: #888484 1vh solid;
    box-sizing: border-box;
    position: absolute;
}

.game-blendocu__timer {
    height: 5%;
    font-size: 250%;
    opacity: 0.8;
}


.game-blendocu__cell:hover {
    background-image: linear-gradient(-45deg, transparent 30%, rgba(255, 255, 255, 0.2), transparent 60%);
    animation: choosen 10s;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-size: 600% 600%;
    z-index: 1000;
}

@keyframes choosen {
    0% {
        background-position: 100%;
    }

    10%{
        background-position: 0;
    }

    100%{
        background-position: 0;
    }
}