.game-blendocu {
    margin: 2vh auto;
    width: 95%;
    height: 95%;
}
.game-blendocu__cell {
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    transition: all 0.3s linear;
}

.game-blendocu__empty-cell {
    border-radius: 10px;
    margin: 0.5vh 0.5vh 0.5vh 0.5vh;
    width: 12vh;
    height: 12vh;
    opacity: 0.8;
    border: #a8a8a8 1vh solid;
    box-sizing: border-box;
    position: absolute;
}

.game-blendocu__cell:hover {
    background: var(--baseColor);
    background-image: linear-gradient(-45deg, transparent 30%, rgba(255, 255, 255, 0.3), transparent 60%);
    animation: choosen 10s;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-size: 600% 600%;
}

@keyframes choosen {
    0% {
        background-position: 100%;
    }

    10%{
        background-position: 0;
    }

    100%{
        background-position: 0;
    }
}

.position1 {
    left: 1000px;
    top: 700px;
}

.position2 {
    left: 400px;
    top: 200px;
}
