.input-form {
    width: 52vh;
    height: 6vh;
    border: 3px solid #393939;
    background-color: var(--inputColor);
    transition: all 0.6s linear;
    margin-bottom: 0.5vh;
    font-size: 2.5vh;
    text-align: center;
    overflow: initial;
}

.input-form_wrong {
    box-shadow: 0 0 15px var(--wrorngInputColor);
}

.input-form_right {
    box-shadow: 0 0 15px var(--rightInputColor);
}

.input-form:-webkit-autofill {
    background-color: var(--inputColor) !important;
    transition: background-color 5000s ease-in-out 0s;
}