.input-form {
    width: 47vmin;
    height: 6vmin;
    border: 3px solid #393939;
    background-color: var(--inputColor);
    transition: all 0.6s linear;
    margin-bottom: 0.5vmin;
    font-size: 2.5vmin;
    text-align: center;
    overflow: initial;
}

.input-form_wrong {
    box-shadow: 0 0 15px var(--wrorngInputColor);
}

.input-form_right {
    box-shadow: 0 0 15px var(--rightInputColor);
}

.input-form:-webkit-autofill {
    background-color: var(--inputColor) !important;
    transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 650px) {
    .input-form {
        width: 65vmin;
        height: 6vmin;
        border: 2px solid #393939;
        font-size: 4vmin;
    }
    .input-form_wrong {
        box-shadow: 0 0 7px var(--wrorngInputColor);
    }

    .input-form_right {
        box-shadow: 0 0 7px var(--rightInputColor);
    }

    @media screen and (orientation: portrait) {
        .input-form {
            height: 8vmin;
        }
    }
}