.levels {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    pointer-events: none;
}

.level__item {
    width: 18vmin;
    height: 18vmin;
    margin: 2vmin;
    background: #2e2e2e;
    border-radius: 5px;
    flex-direction: column;
    border: 1px solid #292929;
}

.level__item:hover {
    background: #414141;
}

.level__image {
    margin: 1vmin auto;
    font-size: 7vmin;
    width: 75%;
    height: 65%;
    border-radius: 5px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.level {
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.level__href {
    text-decoration: none;
    pointer-events: all;
}

.level-passed {
    border: 1px solid #292929;
    background: #171616;
}

.level__rating {
    font-size: 4vmin;
}

@media screen and (max-width: 450px), (max-height: 450px)  {
    .level__item {
        width: 20vmin;
        height: 20vmin;
    }
    .level {
        width: 90%;
    }

    @media screen and (orientation: portrait)  {
        .levels {
            width: 80%;
        }
        .level__item {
            width: 24vmin;
            height: 24vmin;
        }
    }

}
