.levels {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    pointer-events: none;
}

.level__item {
    width: 18vmin;
    height: 18vmin;
    margin: 2vmin;
    background: #1c1c1c;
    border-radius: 5px;
    flex-direction: column;
    pointer-events: none;
}

.level__image {
    margin: 1vmin auto;
    font-size: 8vmin;
    width: 75%;
    height: 65%;
    background: url(/../images/hJ2KkR_REX4.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    pointer-events: none;
}

.level {
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.level__href {
    text-decoration: none;
    pointer-events: all;
}


.level__rating {
    font-size: 4vmin;
}

@media screen and (max-width: 650px) {
    .level__item {
        width: 20vmin;
        height: 20vmin;
    }
    .level {
        width: 60%;
    }

    @media screen and (orientation: portrait)  {
        .levels {
            width: 80%;
        }
        .level__item {
            width: 24vmin;
            height: 24vmin;
        }
    }

}
