.levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.level__item {
    width: 20vh;
    height: 20vh;
    margin: 2vh 2vh 2vh 2vh;
    background: #1c1c1c;
    border-radius: 5px;
    flex-direction: column;
}

.level__image {
    margin: 1vh auto;
    font-size: 8vh;
    width: 75%;
    height: 65%;
    background: #1c1c1c;
    border-radius: 5px;
}

.level {
    display: flex;
    flex-direction: column;
}


.rating {
    margin-top: 5%;
    font-size: 4vh;
}
.rating__one-star{
    display: inline-block;
}
/*.rating__one-star:hover:before,*/
/*.rating__one-star:hover ~ span:before {*/
    /*content: "\2605";*/
    /*color: yellow;*/
    /*position: absolute;*/
/*}*/

.rating__one-star-good {
    content: "\2605";
    color: var(--baseColor);
}

.rating__one-star-good:before {
    content: "\2605";
    color: var(--baseColor);
    position: absolute;
}



