.online-game {
    margin: 1vmin auto;
    width: 100%;
    height: 95%;
}

.online-game__score {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12vmin;
    transition: all 0.3s linear;
    font-size: 10vmin;
}

.online-game__player {
    display: flex;
    flex-direction: row;
}

.online-game__star {
    font-size: 6vmin;
    margin: 1vmin;
}

.online-game__player-name {
    color: var(--baseColor);
    font-size: 4vmin;
    margin: auto 1vmin auto 1vmin;
}

.online-game__image {
    font-size: initial !important;
    width: 7vmin;
    height: 7vmin;
    margin: 1vmin;
    border: 1px solid var(--inputColor);
    border-radius: 5px;
}

.online-game__unfixed {
    width: 100%;
    height: 55%;
}

.online-game__fixed {
    margin-top: 5%;
    width: 100%;
    height: 20%;
}


.online-game__row:hover {
    color: red;
}