.scoreboard-paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scoreboard-paginator__button {
    color: var(--inputColor);
    background: none;
    border: 0;
    font-size: 5vh;
}

.scoreboard-paginator__button:disabled {
    color: var(--firstGradientColor);
    font-size: 4vh;
}

.scoreboard-paginator__button:hover {
    color: white;
}

.scoreboard-paginator__button:active {
    color: var(--baseColor);
}

.scoreboard-paginator__button:disabled:hover {
    color: var(--firstGradientColor);
    font-size: 4vh;
}