.popup {
    line-height: initial;
    font-size: initial !important;
    display: flex;
    flex-direction: column;
    width: 50vmax;
    z-index: 1001;
    border-radius: 10px;
    background: #1c1c1c;
    top: 15vmin;
    position: fixed;
    box-shadow: 0 0 5px 1px rgba(98, 98, 98, 0.4);
    animation: forward 0.3s 1;
    margin: auto;
    justify-content: space-between;
    left: 25%;
}

.popup__substrate {
    background-color: rgba(1,1,1,0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);
    z-index: 1000;
    transition: 0.3s linear;
}

@keyframes forward {
    0% {
        transform: scale(0.01, 0.01);
        opacity: 0.7;
    }
    40% {
        transform: scale(1.1, 0.01);
        opacity: 0.8;
    }
    80% {
        transform: scale(1.1, 1.1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.popup__title {
    font-size: 6vh;
    color: var(--baseColor);
    margin: 6vh auto 6vh auto;
}

.popup__close {
    cursor: pointer;
    position: absolute;
    color: #b6b6b6;
    top: 0;
    right: 0;
    font-size: 4vh;
    width: 5vh;
    height: 5vh;
    background: transparent;
    border: none;
    transition: all 0.3s linear;
}

.popup__close:hover {
    color: #FFFFFF;
}

.popup__game-popup {
    top: 10vmin;
    left: 25vmax;
    z-index: 1000000;
    height: 80%;
}

.popup__online-game-popup {
    top: 10vmin;
    left: 12.5vw;
    z-index: 1000000;
    height: 80%;
    width: 75vw;
}

.popup__win {
    color: var(--baseColor);
    font-size: 10vh;
}

.popup__back {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    transition: all 0.3s linear;
    font-size: 4vmin;
    border-bottom: transparent 3px solid;
}

.popup__back:hover {
    border-bottom: var(--baseColor) 3px solid;
}

.popup__offline-win {
    color: white;
}

.popup__buttons {
    line-height: initial;
    display: flex;
    flex-direction: row;
    margin-bottom: 6vmin;
}

.popup__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 6vmin;
}

.popup__online-lose {
    font-size: 4vmin;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vmin;
}

.popup__time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    font-size: 4vmin;
}

.popup__inner-online {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup__online-VS {
    font-size: 9vw;
    align-self: center;
    color: white;
}

.popup__online-image {
    width: 15vmin;
    height: 15vmin;
    margin: 0 5vw 2vmin 5vw;
    border-radius: 5px;
    border: var(--greyColor) 0.5vmin solid;
    background: rgb(132, 66, 91);
}

.popup__online-image-opponent {
    animation: opponent 2s infinite;
}


.popup__online-game-result {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    line-height: 10vmin;
}

.popup__online-reason {
    width: 70%;
    margin: 4vmin auto 6vmin auto;
}

@keyframes opponent {
    0% {
        margin-top: 15vmin;
        opacity: 0;
    }
    40% {
        margin-top: 0;
        opacity: 1;
    }
    90% {
        margin-top: -15vmin;
        opacity: 0;
    }
    100% {
        margin-top: -15vmin;
        opacity: 0;
    }
}

.popup__online-rules{
    font-size: 4vmin;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vmin;
    line-height: 5vmin;
}

.popup__online-rules-animated {
    text-align: center;
    animation: tips 6s infinite;
}

@keyframes tips {
    0% {
        margin-top: 3vmin;
        opacity: 0;
    }
    10% {
        margin-top: 0;
        opacity: 1;
    }
    90% {
        margin-top: 0;
        opacity: 1;
    }
    100% {
        margin-top: -3vmin;
        opacity: 0;
    }
}


.popup__online-member {
    align-self: center;
}

.popup__online-login {
    font-size: 1.5vw;
}

.popup__online-stop-searching:hover {
    border-bottom: var(--baseColor) 3px solid;
}

.popup__online-your-score {
    color: var(--baseColor);
}

@media screen and (max-width: 650px) {
    .popup {
        left: 20vmax;
        width: 60%;
        height: 70%;
    }
    .popup__win {
        font-size: 13vmin;
    }
    .popup__back {
        margin-top: 7%;
        font-size: 4vmin;
    }

    @media screen and (orientation: portrait) {
        .popup {
            height: 60%;
            top: 20%;
            left: 5%;
            width: 90%;
        }
        .popup__back {
            margin-top: 15%;
            font-size: 4vmin;
        }
    }

}