.profile-footer {
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.profile-footer__avatar {
    box-sizing: border-box;
    border: var(--secondColor) 2px solid;
    border-radius: 5px;
    width: 10vmin;
    height: 10vmin;
    margin-right: 2vh;
}

.profile-footer__login {
    margin: auto 2vmin auto auto;
    font-size: 4vmin;
}

.profile-footer__submenu {
    margin: -15vmin 2vmin auto auto;
    border-right: var(--baseColor) 2px solid;
    width: 24vmin;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in;
    right: 0;
    font-size: 3vmin;
}

.profile-footer:hover .profile-footer__submenu {
    opacity: 0.8;
}

.profile-footer__list {
    text-align: right;
    margin-right: 1vmin;
    list-style: none;
}

.profile-footer__list--all {
    padding: 0;
}


.profile-footer__link {
    cursor: pointer;
    border: transparent 3px solid;
    transition: all 0.3s linear;
    color: var(--secondColor);
    background: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vmin;
    margin-bottom: 2vmin;
    text-decoration: none;
}

.profile-footer__link:hover {
    border-bottom: var(--baseColor) 3px solid;
}

@media screen and (max-width: 650px), (max-height: 650px) {
    .profile-footer {
        margin: 0;
    }

    .profile-footer__avatar {
        border: var(--secondColor) 1px solid;
        width: 13vmin;
        height: 13vmin;
        margin: 0;
    }
    .profile-footer__login {
        font-size: 6vmin;
    }

    .profile-footer__submenu {
        margin: -20vmin 0 auto auto;
        border-right: var(--baseColor) 1px solid;
        font-size: 4vmin;
    }

    .profile-footer__link {
        padding: 0;
        font-size: 4vmin;
        margin-bottom: 2vmin;
        text-decoration: none;
    }
}