.profile-footer {
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 2vh;
}

.profile-footer__avatar {
    box-sizing: border-box;
    border: var(--secondColor) 2px solid;
    border-radius: 3px;
    width: 8vh;
    height: 8vh;
    margin-right: 2vh;
}

.profile-footer__login {
    margin: auto 2vh auto auto;
    font-size: 4vh;
}

.profile-footer__submenu {
    margin: -15vh 2vh auto auto;
    border-right: var(--baseColor) 2px solid;
    width: 24vh;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in;
    right: 0;
    font-size: 3vh;
}

.profile-footer:hover .profile-footer__submenu {
    opacity: 0.8;
}

.profile-footer__list {
    text-align: right;
    margin-right: 1vh;
    list-style: none;
}

.profile-footer__link {
    cursor: pointer;
    border: transparent 3px solid;
    transition: all 0.3s linear;
    color: var(--secondColor);
    background: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    margin-bottom: 2vh;
    text-decoration: none;
}

.profile-footer__link:hover {
    border-bottom: var(--baseColor) 3px solid;
}