.profile-settings {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 35vh 35vh;
}

.profile-settings__avatar-form {
    margin-top: 2vh;
    grid-row: 1;
    grid-column: 1;
}

.profile-settings__inputs-form {
    grid-row: 1/3;
    grid-column: 2/3;
    font-size: initial !important;
}

.profile-settings__file-name {
    font-size: 2vh;
    margin: 4vh auto auto auto;
    overflow: hidden;
    width: 20vh;
}

.profile-settings__labelProfile {
    border-bottom: var(--logoColor) 1px solid;
}