.rating {
  color: var(--baseColor);
  position: relative;
  top: 4%;
  pointer-events: none;
}

.rating__one-star{
  display: inline-block;
  transition: all 0.5s linear;
  padding-left: 0.5vmin;
}

.rating__one-star-good {
  content: "\2605";
  color: var(--baseColor);
  transition: all 0.5s linear;
  padding-left: 0.5vmin;
}

.rating__one-star-good:before {
  content: "\2605";
  color: var(--baseColor);
  position: absolute;
}

.rating__one-star-falls {
  position: absolute;
  margin-top: 5vmin;
  opacity: 0;
}
