.register-login-change {
    margin: 3vmin auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-login-change__button {
    background: var(--greyColor);
    color: var(--secondColor);
    font-size: 3vmin;
    border: var(--greyColor) 3px solid;
    transition: all 0.3s linear;
    border-radius: 2px;
    padding: 0 8vmin 0 8vmin;
    text-decoration: none;
}

.register-login-change__button:hover {
    border-bottom: var(--baseColor) 3px solid;
}

@media screen and (max-width: 980px) {
    .register-login-change {
        margin: 1vmin auto;
    }

    .register-login-change__button {
        font-size: 4vmin;
        padding: 0 10vmin 0 10vmin;
    }
}