.table {
    margin: 3.5vmin auto;
    text-align: center;
    border-bottom: var(--baseColor) 1px solid;
    width: 80vmin;
    font-size: 40%;
    height: 80%;
}

.table__th {
    border-bottom: var(--baseColor) 1px solid;
    font-size: 4.5vmin;
}

.table__tr {
    line-height: 4.5vmin;
}
.table__tr:nth-child(2n) {
    background: var(--darkGreyColor);
}

.table__current-user {
    background: var(--logoColor) !important;
}

@media screen and (max-width: 450px), (max-height: 450px)  {
    .table {
        width: 80vmin;
        font-size: 2.5vmin;
    }
    .table__tr {
        line-height: 3.5vmin;
    }
    .table__th {
        font-size: 3.5vmin;
    }
    @media screen and (orientation: portrait) {
        .table {
            width: 80vmin;
            font-size: 5vmin;
        }
        .table__tr {
            line-height: 6vmin;
        }
        .table__th {
            font-size: 6vmin;
        }
    }
}
