.table {
    margin: 4vh auto auto auto;
    text-align: center;
    border-bottom: var(--baseColor) 1px solid;
    width: 90%;
    font-size: 4vh;
}

.table__th {
    border-bottom: var(--baseColor) 1px solid;
}
