@font-face {
    font-family: Orbitron;
    src: local(Orbitron), url(../fonts/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Orbitron-bold;
    src: local(Orbitron), url(../fonts/Orbitron-Medium.ttf);
}

.wrapper-block {
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 19vh 0.5fr 1fr 1fr 1fr 10vh;
    text-align: center;
}

.wrapper-block__main {
    width: 50vw;
    grid-row: 2/6;
    grid-column: 2/3;
    font-size: 8vh;
}

.wrapper-block__logo {
    font-family: 'Orbitron-bold', sans-serif;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 17vh;
    text-align: center;
    transition: all 0.3s linear;
    max-height: 10vw;
    overflow: hidden;
    color: var(--logoColor);
    text-decoration: none;
    margin-top: 2vh;
    /*text-shadow: var(--inputColor) 1px 1px 0, var(--inputColor) -1px -1px 0,*/
    /*var(--inputColor) -1px 1px 0, var(--inputColor) 1px -1px 0;*/
}

.wrapper-block__logo:hover {
    color: var(--baseColor);
}

.wrapper-block__section-header {
    font-size: 5vh;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 2vh;
    color: var(--inputColor);
}

.wrapper-block__change-color {
    width: 10vh;
    height: 10vh;
    grid-column: 1;
    grid-row: 6;
    margin: 0 0 0 5vh;
    border: transparent;
    background: transparent url("../paint.png") no-repeat;
    background-size: 7vh 7vh;
}

.wrapper-block__profile {
    grid-column: 3;
    grid-row: 6/7;
}