@font-face {
    font-family: Orbitron;
    src: local(Orbitron), url(fonts/Orbitron-Regular.ttf);
}

html {
    --secondColor: #FFFFFF;
    --greyColor: #393939;
    --secondGradientColor: #0e0e0e;
    --firstGradientColor: #0e0e0e;
    --logoColor: #0e0e0e;
    --baseColor: #0e0e0e;
    --inputColor: #b1b1b1;
}

body {
	font-family: 'Orbitron', sans-serif;
  	background: linear-gradient(-45deg, var(--firstGradientColor) -20%, var(--secondGradientColor) 50%, black 150%);
  	color: var(--secondColor);
    margin: 0 0 0 0 !important;
    animation: background 10s infinite alternate;
    transition: all 0.3s linear;
}

@keyframes background {
    100% {
        box-shadow: -1vh -1vh 90vh 1vh var(--firstGradientColor) inset;;
    }
}

.wrapper {
   	display: grid;
   	height: 100vh;
   	grid-template-columns: 1fr 2fr 1fr;
   	grid-template-rows: 19vh 0.5fr 1fr 1fr 1fr 10vh;
}

.changeColor {
    width: 10vh;
    height: 10vh;
    grid-column: 1;
    grid-row: 6;
    margin: 0 0 0 5vh;
    border: transparent;
    background: transparent url("paint.png") no-repeat;
    background-size: 7vh 7vh;
}

.menu, .login, .scoreboard, .registration, .profileSettings {
	font-size: 4vw;
	text-align: center;
	grid-row: 2/6;
	grid-column: 2/3;
}

.logoBlendocu {
    grid-row: 1/2;
    grid-column: 2/3;
	font-size: 8.5vw;
	text-align: center;
    transition: all 0.3s linear;
}

.logoBlendocu > a {
    color: var(--logoColor);
}

.logoBlendocu > a:hover {
    border: initial;
    color: var(--baseColor);
}

ul {
    padding: 0;
}

li {
	list-style-type: none;
	text-align: center;
    line-height: 13vh;
}

.profile {
	grid-column: 3;
	grid-row: 6/7;
	text-align: center;
    z-index: 1;
}

.changeProfile {
	grid-row: 2/4;
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 40% 60%;
}

.changeProfileImage {
	grid-row: 2/3;
	grid-column: 1/2;
	text-align: center;
	margin-top: 7vh;
}

.descriptionText {
	font-size: 2.5vh;
    padding: 2vh 0 0 0;
}

.inputSize {
	width: 52vh;
	height: 6vh;
    background-color: var(--inputColor);
    border: var(--firstGradientColor) 2px solid;
    border-radius: 3px;
    transition: all 0.3s linear;
}

.wrongInputSize {
    box-shadow: 0 0 20px #ff4845;
    height: 5vh;
}

.rightInputSize {
    box-shadow: 0 0 20px #6a9c2a;
}

.sectionHeader {
	font-size: 2.4vw;
	grid-row: 1/2;
	grid-column: 1/3;
	text-align: center;
}

.changeProfilePassword {
	margin-top: 2vh;
	font-size: 2vw;
}

.changeProfileNickForm {
	grid-row: 2/3;
	grid-column: 2/3;
	margin-top: 4vh;
}

.changePasswordForm {
	grid-row: 4/7;
	grid-column: 2/3;
}

a {
	text-decoration: none;
    color: var(--secondColor);
    transition: all 0.3s linear;
}

a:hover {
    border-bottom: var(--baseColor) 3px solid;
}

.changeButton {
	width: 22vh;
	height: 5vh;
	font-family: 'Orbitron', sans-serif;
	background: var(--greyColor);
	color: var(--secondColor);
	font-size: 3vh;
	border: var(--greyColor) 3px solid;
	transition: all 0.3s linear;
	border-radius: 2px;
	margin-top: 1vw;
}

.changeButton:hover {
	border-bottom: var(--baseColor) 3px solid;
}

.changeImageForm img {
	width: 20vh;
	border: 4px solid var(--secondColor);
	border-radius: 5px;
	margin-top: -1.6vh;
}

.loginDiv {
    align-content: center;
    font-size: initial;
	margin-top: 3vh;
}

.registerButton {
	width: 53vh;
	height: 6vh;
	font-family: 'Orbitron', sans-serif;
	background: var(--greyColor);
	color: var(--secondColor);
	font-size: 3vh;
	border: var(--greyColor) 3px solid;
    transition: all 0.3s linear;
    border-radius: 2px;
    margin: 3vh 2vh 2vh 2vh;
    align-self: center;
}

a.registerButton {
    display: block;
    width: 40vh;
    height: 3.5vh;
    margin: auto;
}

.registerButton:hover {
	border-bottom: var(--baseColor) 3px solid;
}

table {
    margin: 2vw auto auto auto;
    text-align: center;
    border-bottom: var(--baseColor) 1px solid;
    width: 90%;
    font-size: 2vw;
}

th {
    border-bottom: var(--baseColor) 1px solid;
}

.imgInProfile {
    border: var(--secondColor) 2px solid;
    border-radius: 3px;
    width: 5vw;
}

.submenu {
    margin-top: -18vh;
    margin-left: 5.5vw;
    border-right: var(--baseColor) 1px solid;
    z-index: -5;
    width: 13vw;
    position: absolute;
    height: 10vh;
    opacity: 0;
    list-style: none;
    transition: opacity 0.7s ease-in;
}

.profile:hover .submenu {
    opacity: 1;
}

.logoutButton{
	color: var(--secondColor);
	background: none;
	border: 0;
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5vh;
	margin-bottom: 10px;
}

.logoutButton:hover {
	transition: all 0.3s linear;
	border-bottom: var(--baseColor) 3px solid;
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginatorButton {
    color: var(--secondColor);
    background: none;
    border: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 5vh;
}

.paginatorButton:disabled {
    color: var(--firstGradientColor);
}

.userFooterButton {
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    transition: all 0.3s linear;
    margin: auto 3vh auto 3vh;
    color: var(--logoColor);
}

.userFooterButton:hover {
    border-bottom: var(--baseColor) 3px solid;
}
/** {*/
    /*border: #6a9c2a 1px solid;*/
/*}*/

.wannaRegisterLogin {
    margin-top: 3vh;
}

.errorForm {
    color: darkred;
    margin-top: 2vh;
    font-size: 2vh;
}