body {
	font-family: 'Orbitron', sans-serif;
  	background: linear-gradient(-45deg , #37333c, #0e0e0e);
  	color: #e7e7e7;
}

.wrapper {
   	display: grid;
   	height: 100vh;
   	grid-template-columns: 1fr 2fr 1fr;
   	grid-template-rows: 15vh 0.5fr 1fr 1fr 1fr 10vh;
}

.menu, .login, .scoreboard, .registration, .profileSettings {
	font-size: 4vw;
	text-align: center;
	grid-row: 2/6;
	grid-column: 2/3;
}

.logoBlendocu {
    grid-row: 1/2;
    grid-column: 2/3;
	font-size: 7vw;
	text-align: center;
    color: blueviolet;
}

li {
	list-style-type: none;
	text-align: center;
}

.profile {
	grid-column: 3;
	grid-row: 6/7;
	text-align: center;
    z-index: 1;
}

.changeProfile {
	grid-row: 2/4;
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 40% 60%;
}

.changeProfileImage {
	grid-row: 2/3;
	grid-column: 1/2;
	text-align: center;
	margin-top: 7vh;
}

.descriptionText {
	font-size: 3vh;
    padding: 2vh 0 0 0;
}

.inputSize {
	width: 50vh;
	height: 4vh;
}

.sectionHeader {
	font-size: 2.4vw;
	grid-row: 1/2;
	grid-column: 1/3;
	text-align: center;
}

.changeProfilePassword {
	margin-top: 2vh;
	font-size: 2vw;
}

.changeProfileNickForm {
	grid-row: 2/3;
	grid-column: 2/3;
	margin-top: 4vh;
}

.changePasswordForm {
	grid-row: 4/7;
	grid-column: 2/3;
}

a {
	text-decoration: none;
    color: #e7e7e7;
    transition: all 0.3s linear;
}

a:hover {
    border-bottom: blueviolet 3px solid;
}

.changeButton {
	width: 22vh;
	height: 5vh;
	font-family: 'Orbitron', sans-serif;
	background: #444444;
	color: #e7e7e7;
	font-size: 3vh;
	border: #444444 3px solid;
	transition: all 0.3s linear;
	border-radius: 2px;
	margin-top: 1vw;
}

.changeButton:hover {
	border-bottom: blueviolet 3px solid;
}

.changeImageForm img {
	width: 20vh;
	border: 4px solid #bcbcbc;
	border-radius: 5px;
	margin-top: -1.6vh;
}

.loginDiv {
    font-size: initial;
	margin-top: 4vh;
}

.registerButton {
	width: 50vh;
	height: 7vh;
	font-family: 'Orbitron', sans-serif;
	background: #444444;
	color: #e7e7e7;
	font-size: 3vh;
	border: #444444 3px solid;
    transition: all 0.3s linear;
    border-radius: 2px;
    margin: 3vh 2vh 2vh 2vh;
}

.registerButton:hover {
	border-bottom: blueviolet 3px solid;
}

table {
    margin: 2vw auto auto auto;
    text-align: center;
    border-bottom: blueviolet 1px solid;
    width: 90%;
    font-size: 2vw;
}

th {
    border-bottom: blueviolet 1px solid;
}

.imgInProfile {
    border: #bcbcbc 2px solid;
    border-radius: 3px;
    width: 5vw;
}

.submenu {
    margin-top: -18vh;
    margin-left: 5.5vw;
    border-right: blueviolet 1px solid;
    z-index: -5;
    width: 13vw;
    position: absolute;
    height: 10vh;
    opacity: 0;
    list-style: none;
    transition: opacity 0.7s ease-in;
}

.profile:hover .submenu {
    opacity: 1;
}

.logoutButton{
	color: #e7e7e7;
	background: none;
	border: 0;
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5vh;
	margin-bottom: 10px;
}

.logoutButton:hover {
	transition: all 0.3s linear;
	border-bottom: blueviolet 3px solid;
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginatorButton {
    color: #e7e7e7;
    background: none;
    border: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 5vh;
}
